<div class="col-sm-12 col-md-8 col-lg-6 col-lg-offset-2">
	<div class="signInForm">
		<form class="form-inline" data-ng-submit="signIn()">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12 col-md-7 col-lg-7 loginInput">
						<div class="form-group">
							<label class="sr-only" for="signInEmail"></label>
							<input type="email" placeholder="Email id" class="signInEmail form-control" id="signInEmail" ng-model="signInInfo.email">
						</div>

						<div class="form-group">
							<label class="sr-only" for="signInPWD"></label>
							<input placeholder="Password" type="password" class="signInPWD form-control" id="signInPWD" data-ng-model="signInInfo.pwd">
						</div>
					</div>
					<div class="col-xs-12 col-md-5 col-lg-5 loginBtns">											
						<div class="form-group">
							<input class="btn btn-primary form-control signInBtn" type="submit" value="Sign In">
						</div>

						<div class="form-group">
							<input class="btn btn-info form-control signInGuestBtn" type="submit" value="Sign In as Guest">
						</div>
					</div>	
				</div>			

			</div>

		</form>
	</div>
</div>