<footer class="page-footer">
	<div class="content container-fluid">
		<div class="row">
		<div class="col-sm-6">			
		<p>Call us at <span class="phone">812-391-5678</span></p>
		<p>All contents &copy; 2016 <a href="http://minglestack.com">Mingle Stack</a> All rights reserved. </p>
	    </div>
	    <div class="col-sm-6">
	    	<nav class="navbar navbar-default" role="navigation">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Terms of Use</a></li>
				<li><a href="#">Privacy Policy</a></li>
			</ul>
		</nav>
		</div>
	</div> <!-- row -->
	</div> <!-- content container -->	
</footer>