<div class="main">
	<div class="page" id="mission">
		<div class="container">
			<h2>Our mission is simple – to be the most comprehensive and intuitive online community for developers across the globe.</h2>
			<p>Mingle Stack was founded on the basis of simplicity and functionality. We were tired of websites that were overly-complicated and overwhelming and wanted to challenge those that prefer style over substance. Our mission is simple – to be the most comprehensive and intuitive online community for developers. Sometimes it feels like you need a degree in computer science just to navigate the big, established websites. Mingle Stack will be easy to use, but at the same time will be full of great information alongside a friendly, welcoming community.</p>

			<p>We recognise that catering to you, our readers and members, is our priority – not attracting big advertisers and filling our site with information that is distracting and irrelevant. You influence the future development of this site – we are new, fresh and innovative and want to prove this to you by listening to what you have to say. We welcome your feedback, and read every single email and comment you send us.
			</p>

			<p>Thanks for dropping by – we look forward to welcoming you as a member of Mingle Stack and getting to know you better.</p>
		</div>
	</div>
</div>

