<div class="postTopic">
	<div class="container-fluid">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="container-fluid">
					<div class="row">	
						<div class="col-lg-6">
							<div class="topicImg">
							</div>
							<div class="topicImgBrowseBtn">
								<div class="input-group">
									<div class="input-group-btn">
										<span class="btn btn-primary btn-file">
											Browse Image<input type="file">
										</span> 	
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label>Title of the Topic</label>
								<input type="text" class="form-control" id="topicTitle">
							</div>
							<div class="input-group">
								<div class="input-group-btn">
									<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspop="true" aria-expanded="false">Category<span class="caret"></span></button>
									<ul class="dropdown-menu">
										<li><a href="#">Development</a></li>
										<li><a href="#">Programming</a></li>
										<li><a href="#">User Interaction</a></li>
										<li><a href="#">Coding</a></li>
										<li><a href="#">Administration</a></li>
										<li><a href="#">Fruitful Tips!!</a></li>
									</ul>
								</div>
								<label class="sr-only">Category of the Topic</label>
								<input type="text" class="form-control" aria-label="...">
							</div>
							<br>
							<div class="form-group">
								<input type="checkbox" id="shareMail">
								<label for="shareMail"><small>Display my mail id to readers</small></label>
							</div>		
						</div>
					</div>

					<br>

					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label class="sr-only" for="topicBody">Start your topic here!!</label>
								<textarea placeholder="Please start your topic body here!!" class="form-control topicBody" id="topicBody" >
								</textarea>
							</div>	
						</div>
					</div>	

					<br>

					<div class="row">
						<div class="col-sm-12">
							<button class="btn btn-primary">Submit</button>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>

</div>