<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<img src="images/srikanth.jpg" style="max-width:100%;max-height:100%;border-radius: 5px;">
			</div>
			<div class="col-lg-6" style="color:white;">
				<p><h2>About Me</h2></p>
				<br>
				<p>
					I am a full-stack design/developer and a full-time at IBM. My areas of expertise are front-end design and development topics such as JavaScript, AngularJS, and Sass, plus frameworks like Bootstrap and tools that makes me a developer. My hobbies include web development, playing soccer, swimming, gymming to name a few.

					Previously, as a director of multimedia for Cybersplash, I managed a network of radio and TV station websites on the East Coast. I designed large newspaper sites and created interactive projects/games for the Tribune network of newspapers. I can be reached through any social network or check out my blog : <a href="http://www.minglestack.com" style="color:#EEC856;">Mingle Stack</a>
				</p>
		</div>
	</div>
</div>	