<div data-ng-controller="ProfileController">
			<div class="container">
				<div class="row">
					<div class="profileContainer col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								{{user.firstName+user.lastName}}
							</div>
							<div class="panel-body">
								<div class="container-fluid">
									<div class="row">
										<div class="imgContainer col-lg-3">
											<div class="container-fluid">
											<div class="row">
											<div class="profileImg col-lg-12"></div>
											<!-- <div class="col-lg-2" style="height:250px; display:flex;align-items:center;padding:5px;">

												<span class="glyphicon glyphicon-upload" style="font-size:2em;"></span>
												
											</div> -->
											<div class="imgUploadBtn2">
												<div class="imgUploadDiv">
												<span class="glyphicon glyphicon-upload imgUploadIcon" data-ng-click="uploadFile()"></span>
												<p class="imgUploadIconTxt">Upload Pic</p>
												<input type="file" id="profImgUpload" style="display:none;">
												</div>
											</div>
											<!-- <div class="col-lg-2" style="padding:0px;padding:0px;">
												<button class="imgUploadBtn btn btn-primary">Upload Pic</button>										
											</div> -->
											</div>
											</div>
										</div>
										<div class="profileContainer col-lg-7">
											<ul class="list-group">
												<li class="list-group-item">First Name : {{user.firstName}}
													<button class="btn btn-default disabled pull-right">Edit</button>
												</li>
												<li class="list-group-item">Last Name : {{user.lastName}}
													<button class="btn btn-default disabled pull-right">Edit</button>
												</li>
												<li class="list-group-item">Date of Birth : {{user.dob}}
													<button class="btn btn-default disabled pull-right">Edit</button>
												</li>
												<li class="list-group-item">Email id : {{user.email}}
													<button class="btn btn-default disabled pull-right">Edit</button>
												</li>
												<li class="list-group-item">Group : {{user.group}}
													<button class="btn btn-default disabled pull-right">Edit</button>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>	
					</div>
					<div class="memberContainer col-lg-12">
						<div class="panel">
							<div class="panel-heading">
								Friends
							</div>
							<div class="panel-body">
								<ul class="list-group">
								<div class="container-fluid">
								<li class="list-group-item col-lg-4 col-md-4" data-ng-repeat="member in memberList"> 
									<div class="memberIcon">
										<div class="container-fluid">
											<div class="row">
												<div class="memberImgDiv col-sm-3">
													
												</div>
												<div class="memberDesc col-sm-9">
													<div class="memberNG">
														<span class="memberName">{{member.firstName+ member.lastName}}</span>
														<br>
													<span class="memberGroup">	
													 {{member.groupName}}</span>
													 </div>
												</div>
											</div>
										</div>
									</div>
								</li>
								</div>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>