<div class="container-fluid">
<div class="row">
<div class=" col-sm-12 askQuestionForm">

	<div class="container-fluid">
<br>		
	<div class="row">

	<div class="col-sm-12">
	<div class="input-group  input-group-lg">
		<label class="sr-only" for="askQuestionTitle">Title of the Question</label>
		<span class="input-group-addon" id="questionTitleSpan">Title</span>
		<input type="text" class="form-control" id="askQuestionTitle" placeholder="Title" aria-describedby="questionTitleSpan">
	</div>
	</div>
	</div>

<br>

		<div class="row">

		<div class="col-lg-6">
			<div class="input-group">
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Technology
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#">JavaScript</a></li>
						<li><a href="#">Java</a></li>
						<li><a href="#">Python</a></li>
						<li><a href="#">C++</a></li>
						<li><a href="#">Ruby</a></li>
						<li><a href="#">PHP</a></li>
						<li><a href="#">HTML\CSS</a></li>
					</ul>	
				</div>
				<input type="text" class="form-control" aria-label="...">
			</div>	
		</div>
		
		<div class="col-lg-6">
			<div class="input-group">
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category
					<span class="caret"></span>
					</button>
					 <ul class="dropdown-menu">
					 	<li><a href="#">Coding</a></li>
					 	<li><a href="#">Design</a></li>
					 	<li><a href="#">Administration</a></li>
					 </ul>
				</div>
				<input type="text" class="form-control" aria-label="...">
			</div>
		</div>	

		</div>
<br>
		<div class="row">

		<div class="col-lg-6">
			<div class="input-group">
				<div class="input-group-btn">
					<button class="btn btn-default dropdon-toggle" data-toggle="dropdown" aria-haspop="true" aria-expanded="false">Type<span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a href="#">Problem</a></li>
						<li><a href="#">Defect</a></li>
						<li><a href="#">Query</a></li>
						<li><a href="#">Just Curious !!</a></li>
					</ul>
				</div>
				<input type="text" class="form-control" aria-label="...">
			</div>
		</div>
		
		<div class="col-lg-6">
		</div>	

		</div>
<br>

		<div class="row">
			<div class="col-sm-12">
			<div class="form-group">
				<label class="sr-only" for="questionDescription">Enter the Question Here!!</label>
				<textarea placeholder="Type your question here!!" class="form-control questionDescription" id="questionDescription" style="height:200px;">
				</textarea>
			</div>	
			</div>	
		</div>
<br>
	<div class="row">
		<button type="button" class="btn btn-primary pull-right" role="button" style="margin-right:10px;">Submit</button>
	</div>	

<br>			
	</div>
</div>
</div>
</div>