<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 questionMain">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>What are response and request parameters in Express functions?</h3>
				</div>	
				<div class="panel-body">
					<div class="questionDescription text-justify" >	
						The request will be an object with properties like 
					</div>
					<div class="questionVote hidden-xs">
						<div class="questionVoteInner">	
							<span class="glyphicon glyphicon-circle-arrow-up questionVoteIcon" aria-hidden="true"></span>
							<span class="label label-primary">16225</span>
							<span class="label label-primary">32</span>
							<span class="glyphicon glyphicon-circle-arrow-down questionVoteIcon"  aria-hidden="true"></span>
						</div>
					</div>
					<div class="panel-footer">

						<div class="panel-group" id="commentAccordion" role="tablist" aria-multiselectable="true">
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="commentHead">
									<h4 class="panel-title">
										<a href="#comments" role="button" data-toggle="collapse" class="commentLink" data-parent="commentAccordion" aria-expanded="false" aria-controls="comments">Comments</a>
										<span class="glyphicon glyphicon-chevron-down commentArrow"></span>	
									</h4>

								</div>
								<div class="panel-collapse collapse" id="comments" role="tabpanel" arialabelledby="commentAccordion">
									<div class="panel-body">
										<div class="commentsSection">	
											<div class="postComment">
												<div class="form-group">
													<label class="sr-only" for="inputComments">Post your comment</label>
													<textarea class="form-control" id="inputComments" placeholder="Post your comment" style="height:100px;"></textarea>
												</div>										
												<div style="width:100%;height:50px;">
													<button class="btn btn-primary pull-right">Submit</button>
												</div>
											</div>	
											<div class="previousComments">
												<div class="form-group">
													<blockquote class="text-justify"><p>
														Hmm, I think the same socket set up is used client and server.</p>
														<footer><a href="#">Richard Mackintosh</a> on Aug 21st 2016, 22:30 Eastern </footer>
														<div style="float:right;">
															<a href="#" class="btn btn-default" style="font-size: 0.5em;margin-right:5px;">Edit</a>
															<a href="#" class="btn btn-default" style="font-size: 0.5em;margin-right:10px;">Delete</a>	
															<span class="likeComment" style="font-size:.8em;">172</span>
															<span class="glyphicon glyphicon-thumbs-up" style="font-size: 1.2em;vertical-align: middle;margin-right:5px;"></span>
															<span class="glyphicon glyphicon-thumbs-down" style="font-size: 1.2em;vertical-align: middle;"></span>	
															<span class="dislikeComment" style="font-size:.8em;">33</span>
														</div>									
													</blockquote>			
												</div>	
											</div>
										</div>	
									</div>	
								</div>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>	
</div>						