@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Open+Sans:400,700,800,300);
$colorBlue: rgb(75,84,255);
$colorYellow: rgb(255,224,25);
$compOpacity: 0.80;
$colorShadowWhite: rgb(255,255,255);
$colorWhite: rgb(255,255,255);
$colorShadowYellow: rgb(255,245,0);
$colorChatLayerBkg: rgb(192,192,192);
$colorBlack: rgb(0,0,0);
$defaultAlpha: 1.00;
$chatLayerWidth: 250px;
$scrollPaneWidth: 10px;
$inputMessageBoxWidth: 200px;
$grpMsgPanelWidth: 550px;
$defaultFont: "Roboto Slab", sans-serif;
.midAlign {
	 display: flex;
	 align-items: center;
	 justify-content: center;
}

.mainGrpChatDiv {
	height:700px;
	background-color: white;
}
.chatCanvasMsg {
	height: 160px;
	width: 100%;
}
.msgWrap{
	position: relative;
/*	border-style: solid;
	border-width: 3px;*/
	height: 100%;
}
#textBox{
	background-color: transparent;
	color: white;
	position: absolute;
	margin: auto;
	left:0;
	right: 0;
	top: 0;
	bottom: 0;
	font-family: $defaultFont;
	font-size: 0.65em;
	display:table-cell;
	vertical-align:middle;
}

.sbCanvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index:0;
}
#textContent {
	text-align: center;
	position: relative;
	top: 50%; 
	word-wrap: break-word;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	z-index: 10;
}

.msgSection {
	display: inline;
	top: 0;
	border-style: solid;
}

.msgBox {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	width: $chatLayerWidth;
	height: 100%;
}

.senderPicMsg {
	position: absolute;
	height:30px; 
	width:30px; 
	background-color: white; 
	float: right;
	bottom: 0px;
	background-size: cover;
	background-image: url('../images/user-Icon.png');
	border-radius: 2px;
}

.testBorder {
	//border-style:solid;
}

.groupDiv {
	border-style:solid;
	//width:150px;
	//height:150px;
	background-color: gray;
	//display: inline-block;
	margin:5px;
	font-size: .65em;
}

.grpChat {
	height:600px;
	//background-color: green;
}

.grpChatContainer {
	height:600px;
	//background-color: blue;
	background-color: transparent;
	//border-style: solid;
}

.grpMsgPanel {
	  width: $grpMsgPanelWidth;
	  //border-style:solid;
	  height:500px;
	 // background-color:rgba(255,255,255,0.7);
	 // background-color: rgba(0,0,0,1);
	  overflow-y: scroll;
}
.grpMsgArea {
	width: $grpMsgPanelWidth - 150;
	height: 80px;
	margin: 5px;
}
.grpChatInput {
	max-width: $grpMsgPanelWidth;
	height:100px;
	background-color:rgba(255,255,255,0.9);
	padding: 0px;
}
.btnGrpMsg {
	width: 90px;
	display:block;
	background-color: $colorBlue;
	border-style: none;
}
.btnGrpThink {
	width:90px;
	display:block;
	margin-top: 5px;
	background-color: $colorYellow;
	border-style: none;
}
.grpUsers {
	height:400px;
	//background-color: red;
	background-color: transparent;
}

.grpUsers {
	li {
		padding:0px;
		font-size: .7em;
	}
}
.grpUser {
	//border-style:solid;
	width:150px;
	height:40px;
	//	display: flex;
	text-align: center;
	padding-top: 8px;
}

.groupRoomList {
	height:600px;
	//background-color: yellow;
	background-color: transparent;
	text-align: center;
}

.grpDesc {
	//background-color: gray;
	background-color: transparent;
	width:300px;
	height: 400px;
	font-size: .65em;
	margin-left: -15px;
}



