.newsFeed {
	background-color: transparent;
	min-height: 100px;
	border-radius: 3px;
}

.mistHeaderIcon2 {
/* 	float: left;*/
	min-width: 150px;
}


.mistHeader .toggleMenu {
	
}

.toggleDiv {
	//display: none;
}

header .headerRow {
	//height: 70px;
}

header {
	.mistNavLinks {
		// padding-top: 20px;
		//min-height: 80px;
		display : flex;
		text-align: center;
		justify-content: center;
	}
}

header {
	.userContainer {
	 height: 70px;
	 display: flex;
	 align-items: center;
	 color:white;
	 font-size:0.75em;
	 font-weight:400;
	 margin-top: 10px;
	 margin-left: -25px;
	}
}

header .personico {
	background: url(../images/user-Icon.png);
	width: 70px;
	height: 70px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border-radius: 5px;
	background-color: white;
}
header .navbar {
	padding: 30px 0;
}

header .navbar-default {
	background: rgba(0,0,0,0.1);
	border: none;
}

header .navbar-header {
	/* width: auto; */
}

header .navbar-default .navbar-nav a {
	//color: black;
	//padding: 5px 8px;
	cursor: pointer;
}

.navbar-nav {
	li {
		a {
			padding: 0px;
			padding-top: 9px;
			padding-bottom: 10px;
			color: white;
		}
	}
}

.navbar-default {
	.navbar-nav {
		li {
			a {
				color: white;
			}
		}
	}
}

header .navbar-default .navbar-nav a:hover {
	color: #E15D5F;
}

header .navbar-default .navbar-nav .active a {
	font-weight: 700;
	color: #EEC856;
	background: transparent;
	//border-bottom: 4px solid #EEC856;
	text-shadow: none;
}

header .navbar-default .navbar-nav .active a:hover {
	color: #E15D5F;
	background: transparent;
	text-shadow: none;
}

header .navbar-brand {
	background: url(../images/mist-logo.svg);
	background-size: 50px 50px;
	background-position: center;
	background-repeat: no-repeat;
	/*background-position: 15px 0;*/
	height: 70px;
	width: 50px;
}	

header .navbar-brand h1 {
	color: white;
	margin: 0;
	font-size: 1em;
	font-weight: bold;
	padding-left: 50px;
}

header .navbar-brand span.subhead {
	display: block;
	font-family: "Roboto Slab", serif;
	font-size: .6em;
	font-weight: 400;
}

header .navbar-toggle {
	background-color: #279182;
}

header .navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

@media screen and (min-width: 1300px) {
	.mainNavListBtn {
		//max-width: 100px;
		//font-size: 0.65em;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1300px){
	.mainNavListBtn {
		max-width: 100px;
		font-size: 0.65em;
	}
}

@media screen and (max-width: 1200px) and (min-width: 992px){
	.mainNavListBtn {
		max-width: 80px;
		font-size: 0.65em;
	}
	.nav {
    	li {
    		a {
    			padding-left: 0px;
    		}
    	}
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }

}
@media only screen and (max-width: 768px) {
	header .navbar-collapse.in {
	background-color: rgba(255,255,255,0.5);
	}
	.nav {
		li {
			display: inline-block;
		}
	}

}

.mainNavListBtn {
	width: 125px;
	height: 40px;
	margin: 3px;
	//font-size: 0.85em;
	padding: 0px;
	border-radius: 2px;
	background-color: transparent;
	//color: white;
}

.list-group  {
	border-radius: 0px;
}