@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Open+Sans:400,700,800,300);
$bodyTopPadding: 180px; /*Included for header spacing*/
div, section {
	border-width: 1px;
	padding: 0px;
	margin: 0px;
}
html,h1 {
	padding: 0px;
	margin: 0px;
}
body {
	font-family: "Roboto Slab", sans-serif;
	font-weight: 300;
	font-size: 2em;
	position: relative;
}

.mistPageBody {
	padding-top:$bodyTopPadding;
	background-image: linear-gradient(to bottom, #545454, #858585);
}

@media screen and (min-width: 1200px) {
	.mistPageBody { padding-top:$bodyTopPadding*1; }
}

@media screen and (min-width:992px) and (max-width:1200px) {
    .mistPageBody { padding-top:$bodyTopPadding*1; }
}

@media screen and (min-width:768px) and (max-width:992px) {
    .mistPageBody { padding-top:$bodyTopPadding*1.25; }

    .toggleDiv {
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center; 
}

}

@media screen and (max-width:768px) {
    .mistPageBody { padding-top:$bodyTopPadding*2; }

    .toggleDiv {
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center; 
}

}

h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", sans-serif;
	font-weight: 100;
	margin: 0;
}
img {
	max-width: 200px;
}


/*Header Navigation*/
.mistHeader{
	float: none;
}

.mistHeaderIcon1 {
/* 	float: left;*/
	min-width: 150px;
}

.page {
	padding: 50px 0;
}

.page h2 {
	text-align: center;
	margin-bottom: 30px;
}

#mission {
	background-color: #E4D29D;
	background-image: linear-gradient(to bottom, #E3E3E3, #858585);
	border-top: 20px solid rgba(87, 87, 86, .5);
	text-align: justify;
	text-justify: inter-word;
}

/*Footer Navigation*/
.page-footer {

	background: #4A4A48;
	color: white;
	font-size: .8em;
	padding: 20px 0 40px 0;

	a {
		color: #E0E6AE;
		&:hover {
		color: #EEC856 !important;
		}
	}

	.phone {
		font-size: 1.4em;
		font-weight: 700;
		color: #E0E6AE;
	}

	.navbar-default {
		background-color: transparent;
		border: none;
		margin-right: 40px;
	}
	.navbar-nav{
		li {
			a {
	padding-top: 0;
	padding-bottom: 0;
	text-decoration: underline;
	color: #EEC856 !important;
			}
		}
	}

}
/* footer {
	background: #4A4A48;
	color: white;
	font-size: .8em;
	padding: 20px 0 40px 0;
}

footer a {
	color: #E0E6AE;
}

footer a:hover {
	color: #EEC856 !important;
}

footer .phone {
	font-size: 1.4em;
	font-weight: 700;
	color: #E0E6AE;
}

footer .navbar-default {
	background-color: transparent;
	border: none;
	margin-right: 40px;
}

footer .navbar-nav>li a {
	padding-top: 0;
	padding-bottom: 0;
	text-decoration: underline;
	color: #EEC856 !important;
}
 */
/*Posts Container*/




.btn-file {
	position: relative;
    overflow: hidden;

}

.btn-file {
	input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
	}
}

